{% extends 'student_academic_performance/base.html' %}

{% block main_buttons %}
    <a href="{% url 'viewing' %}" style="position: absolute; justify-self: right;">
        <input type="button" value="Главная" style="background-color: rgb(41, 56, 187);"/>
    </a>
{% endblock %}

{% block heading %}
    Удаление предмета
{% endblock %}

{% block content %}
    <form action="{% url 'delete_subject' %}" method="post" style="justify-self: center;">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Удалить</button>
    </form>
{% endblock %}