{% extends 'student_academic_performance/base.html' %}

{% block heading %}
    Редактирование
{% endblock %}

{% block main_buttons %}
    <div style="position: absolute; justify-self: right;">
        <input type="button" value="Сохранить" style="background-color: rgb(41, 56, 187)"/>
        <a href="{% url 'viewing' %}">
            <input type="button" value="Отмена" style="background-color: rgb(167, 30, 94); float: left;"/>
        </a>
    </div>
{% endblock %}

{% block subjects %}
    {% for subject in subjects %}
        <th name="st">
            <input type="text" value="{{subject}}"/>
        </th>
    {% endfor %}
{% endblock %}

{% block students_data %}
    {% for student, subjects_scores in students_data %}
        <tr>
            <td name="st">{{student.id}}</td>
            <td name="st"><input type="text" value="{{student.fio}}"/></td>
            <td name="st"><input type="text" value="{{student.email}}"/></td>
            {% for score in subjects_scores %}
                <td name="st"><input type="text" value="{{score}}"/></td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}