{% extends 'student_academic_performance/base.html' %}

{% block main_buttons %}
    <div style="position: absolute; justify-self: right;">
        <a href="{% url 'add_student' %}" style="display: flex;">
            <input type="button" value="Добавить студента" style="background-color: rgb(202, 233, 27);"/>
        </a>
        <a href="{% url 'add_subject' %}" style="display: flex;">
            <input type="button" value="Добавить предмет" style="background-color: rgb(202, 233, 27);"/>
        </a>
        <a href="{% url 'delete_student' %}" style="display: flex;">
            <input type="button" value="Удалить студента" style="background-color: rgb(233, 109, 27);"/>
        </a>
        <a href="{% url 'delete_subject' %}" style="display: flex;">
            <input type="button" value="Удалить предмет" style="background-color: rgb(233, 109, 27);"/>
        </a>
    </div>
{% endblock %}

{% block heading %}
    Успеваемость студентов
{% endblock %}

{% block content %}
    <table style="margin: 0 auto 0 auto; border-spacing: 0;">
        <thead>
            <tr>
                <th>Id</th>
                <th>ФИО</th>
                <th>Почта</th>
                {% for subject in subjects %}
                    <th>{{subject}}</th>
                {% endfor %}
                <th>Средняя оценка студента</th>
            </tr>
        </thead>
        <tbody>
            {% for student, subjects_scores, student_average_grade in students_data %}
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.fio}}</td>
                    <td>{{student.email}}</td>
                    {% for score in subjects_scores %}
                        <td>{{score}}</td>
                    {% endfor %}
                    <td class="average_grade">{{student_average_grade}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td class="average_grade" colspan="3">Средние оценки по предметам</td>
                {% for average_grade in subjects_average_grade %}
                    <td class="average_grade">{{average_grade}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </tabel>
{% endblock %}